#anchor {
      -fx-background-color: #191d22;
}
#bankLabel1 {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16.0px;
    -fx-font-family: "Trajan Pro 3";   
}
#bankLabel2 {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16.0px;
    -fx-font-family: "Trajan Pro 3";
}
#welcomeLabel {
    -fx-font-size: 24.0px;
    -fx-text-fill: #e6c75d;
    -fx-font-family: "Trajan Pro 3";
}

#backButton {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}

#dealButton {
   -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}

#newRoundButton {
  -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}
#disButton1 {
   -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}
#disButton2 {
   -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}
#disButton3 {
   -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}
#disButton4 {
   -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}
#disButton5 {
   -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}
#finishButton {
   -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50.0%, white 100.0%),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #e6e6e6 45.0%, rgba(230.0,230.0,230.0,0.0) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #191d22;
    -fx-font-weight: bold;
    -fx-font-size: 12.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}
#betLevelLabel {
  -fx-font-family: "Trajan Pro 3";
}

